/* Table Customization Css Start */
.MuiDataGrid-cell {
    color: var(--body-color);
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
    color: var(--heading-color);
    font-weight: 600 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root, .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
    color: var(--body-color) !important;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted):hover .MuiDataGrid-sortIcon {
    opacity: 0.8;
}
.css-ptkaw2-MuiDataGrid-root, .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-withBorderColor{
    border-color: var(--border-color) !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    background-color: var(--bg-white) !important;
}
.css-1yhpg23-MuiTableCell-root, .css-1ex1afd-MuiTableCell-root, .css-177gid-MuiTableCell-root {
    color: var(--body-color) !important;
}
.css-1ygcj2i-MuiTableCell-root, .table-th, .css-1yhpg23-MuiTableCell-root, .css-1ex1afd-MuiTableCell-root, .css-177gid-MuiTableCell-root {
    border-color: var(--border-color) !important;
}




.table-th {
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: var(--body-color) !important;
}
.MuiTableCell {
    &-body {
        color: var(--body-color);
    }
    &-head {
        color: var(--heading-color) !important;
        font-weight: 600 !important;
    }
}

.badge {
    &.Paid, &.Active {
        color: var(--success) !important;
        background-color: var(--success-soft) !important;
    }
    &.Pending {
        color: var(--warning) !important;
        background-color: var(--warning-soft) !important;
    }
    &.Unpaid, &.Passive {
        color: var(--danger) !important;
        background-color: var(--danger-soft) !important;
    }
}


.user-info {
    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
}
/* Table Customization Css ENd */

/* Data Table Css Start */
.userCell {
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 12px;
    }
}
/* Data Table Css End */