/* ========================== Dashboard Css Start ======================= */
.dashboard {
    &__body {
        width: calc(100% - 250px);
        background-color: var(--dashboard-body-bg);
    }
    &__content {
        padding: 24px;
    }
    &__item {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #c8c8c8;
        border-radius: 40px;
      }
      &::-webkit-scrollbar-thumb:active {
        background: #979797;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #acaaaa;
      }
}
/* ========================== Dashboard Css End ======================= */